rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Len admin/superadmin majú prístup k settings + rezervácie
    match /settings/{docId} {
      allow read, write: if request.auth.token.admin == true || request.auth.token.superadmin == true;
    }

    match /rezervacie/{docId} {
      allow read, write: if request.auth.token.admin == true || request.auth.token.superadmin == true;
    }

    match /roles/{docId} {
      // Čítanie rolí len adminom/superadminom
      allow read: if request.auth.token.admin == true || request.auth.token.superadmin == true;
      allow write: if request.auth.token.superadmin == true;
    }
  }
}
